.atlas {
  position: relative;
}

.atlas .overlay {
  position: absolute;
  background-color: #ffffff;
  opacity: 0.8;
  top: 0;
  left: 0;
  padding: 3px;
  vertical-align: middle;
}

.atlas .overlay.hidden {
  display: none;
}

.atlas .overlay .legend {
  line-height: 150%;
}

.atlas .overlay .legend table {
  border-collapse: collapse;
}
