.atlas {
  position: relative;
}

.atlas .overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  padding: 5px;
  vertical-align: middle;
}

.atlas .overlay .hidden {
  display: none;
}

/*.atlas .overlay.legend {
  padding: 5px;
  line-height: 150%;
  border-collapse: collapse;
}*/

.atlas .overlay.legend table {
  margin: 5px;
  line-height: 150%;
  border-collapse: collapse;
  text-align: right;
}
